.main {
  background: rgb(240, 242, 245, 0.3);
  padding-top: 34px;
  padding-bottom: 42px;
  margin-top: 50px;
}

.main .text {
  text-align: center;
  font-family: YuGothic;
  font: normal normal bold;
  font-weight: bold;
  font-size: 16px/27px;
  letter-spacing: 0px;
  color: #303133;
  .link {
    text-decoration: none;
    color: #3E3F68;
  }
}

.Container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .Container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Container {
    width: 1170px;
  }
}
