@import '../../styles/_variables.scss';
.main {
  background-color: white;
  color: $sub-color;
  margin-left: 9px;
  margin-bottom: 10px;
  text-align: left;
  font-family: Lobster;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0px;

  .link {
    text-decoration: none;
    color: $sub-color;
    font-family: Lobster;
  }
}

.Container {
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 22px;
}

@media (min-width: 768px) {
  .Container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Container {
    width: 1170px;
  }
}