@import '../../styles//variables';
.main {
  .card {
    border: none;
    border-radius: 10px;
    padding: 16px;
    background: #f0f2f5;
    button {
      font-family: $main-font-family;
      font-size: 18px;
    }
  }

  .title {
    font-size: 1.5em;
    color: #606266;
    font-weight: bold;
    margin-block-start: 0;
  }

  .genreContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 24px;
    .selected_department {
      border: 2px solid #009688;
    }
  }

  .department {
    border: 2px solid white;
    margin: 5px 0px 5px 0px;
    border-radius: 20px;
    background-color: #ffffff;
    .genre {
      background: white;
      padding: 8px 12px;
      border-radius: 20px;
      border: 1px solid #606266;
      margin: 4px;
      color: #606266;
      cursor: pointer;
      user-select: none;
      outline: none;
    }
    .reset {
      padding: 16px;
      background: #ed7272;
      display: inline-block;
      padding: 8px 12px;
      border-radius: 20px;
      color: white;
      margin-right: 8px;
      cursor: pointer;
      user-select: none;
      border: none;
      outline: none;
    }

    .apply {
      padding: 16px;
      background: #009688;
      display: inline-block;
      padding: 8px 12px;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      user-select: none;
      border: none;
      outline: none;
    }

    .active {
      background: #009688;
      color: white;
    }
    .department_active {
      color: #606266;
      background-color: white;
      font-weight: bold;
    }
  }
  .department_genre {
    background: white;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    margin: 4px;
    color: #606266;
    cursor: pointer;
    user-select: none;
    outline: none;
  }
  .genre {
    background: white;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    margin: 4px;
    color: #606266;
    cursor: pointer;
    user-select: none;
    outline: none;
  }

  .reset {
    padding: 16px;
    background: #ed7272;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    color: white;
    margin-right: 8px;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
  }

  .apply {
    padding: 16px;
    background: #009688;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
  }

  .active {
    background: #009688;
    color: white;
  }
  font-size: 18px;
  color: #606266;
  .dli_close {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 0.1em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    transform: rotate(45deg);
  }

  .dli_close::before {
    display: inline-block;
    text-align: right;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
  }
  .right_side {
    float: right;
    padding-right: 10px;
    padding-top: 6px;
  }
}
