@import '../styles/variables';
.main {
  div {
    font-size: 25px;
    color: $test-color;
    background-color: #f0f2f5;
    padding-left: 29px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  .link {
    text-decoration: none;
    color: $test-color;
  }
}
