.main {
  div {
    font-size: 25px;
    font-family: normal normal medium YuGothic;
    color: #3e3f68;
    background-color: #f0f2f5;
    padding-left: 29px;
    padding-right: 15px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    .teachers {
      padding: 0px;
      margin-top: 18px;
      font-size: 20px;
      font-family: YuGothic;
      color: #585858;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .link {
    text-decoration: none;
    color: #3e3f68;
  }
}
