@import '../../styles/variables';
.main {
  margin-top: 20px;
  div {
    font-size: 25px;
    color: $test-color;
    background-color: #f0f2f5;
    padding-left: 29px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    .teachers {
      padding: 0px;
      margin-top: 18px;
      font-size: 20px;
      color: $sub-text-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .link {
    text-decoration: none;
    color: $test-color;
  }
}

.exist {
  border: solid 2px #8bbdff;
  border-radius: 7px;
}
