.ContainerPadding {
  padding-left: 9px;
  padding-right: 10px;

  .accordion {
    border: 0px;
  }

  .main {
    color: #585858;
    font-size: 25px;
    padding-left: 7px;
    div {
      font-size: 25px;
      margin-top: 4px;
      border-bottom: 2px solid #f1ac9d;
      left: 22px;
      margin-bottom: 9px;
      padding-top: 17px;
      padding-bottom: 17px;
      .down {
        float: right;
        vertical-align: middle;
        color: #333;
        line-height: 0.8;
        width: 0.8em;
        height: 0.8em;
        border: 0.1em solid currentColor;
        border-left: 0;
        border-bottom: 0;
        box-sizing: border-box;
        transform: translateY(-25%) rotate(135deg);
      }
    }
  }

  button {
    :focus {
      border-color: white;
      display: block;
    }
    :not(.collapsed) {
      color: #585858;
      // background-color: white;
    }

    border-bottom-color: white;
    display: block;
  }
  button:focus {
    border-color: white;
    display: block;
  }
}
