.Container {
  background-color: #f1ac9d;
  margin-right: auto;
  margin-left: auto;
  
  h1 {
    font-size: 30px;
    color: #ffffff;
    font-family: YuGothic;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  p {
    color: #ffffff;
    font-family: YuGothic;
    font-size: 20px;
    margin-bottom: 0px;
  }
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .Container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Container {
    width: 1170px;
  }
}