$test-color: #3E3F68;
$sub-text-color: #585858;
$title-text-color: #585858;
$course-detail-text-color: #585858;
$footer-text-color: #303133;
$main-color: #F1AC9D;
$sub-color: #78EA4E;
$main-font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;