.Container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding-top: 24px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .Container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Container {
    width: 1170px;
  }
}
