.Container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 19px;
  padding-left: 15px;
  padding-right: 15px;
}

* {
  font-family: YuGothic;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 768px) {
  .Container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .Container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .Container {
    width: 1170px;
  }
}

.mt-auto {
  margin-top: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.vh-100 {
  min-height: 100vh;
}

body {
  font-family: YuGothic;
}